<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230136812517-8nom84vnf7v4jg6j32g3vbrft678pknt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230136812517-8nom84vnf7v4jg6j32g3vbrft678pknt</string>
	<key>API_KEY</key>
	<string>AIzaSyBgPq2Oh_I3KdbLl6CWalCWmLrrDCh_OR8</string>
	<key>GCM_SENDER_ID</key>
	<string>230136812517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Example.MiniLog</string>
	<key>PROJECT_ID</key>
	<string>minilog-73be7</string>
	<key>STORAGE_BUCKET</key>
	<string>minilog-73be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230136812517:ios:eb603b74be8f4c52eed50c</string>
	<key>DATABASE_URL</key>
	<string>https://minilog-73be7.firebaseio.com</string>
</dict>
</plist>